.carousel {
  position: relative;
  .banner {
    background-image: url('/images/image 28 (1).png');
    width: 100%;
    height: 564px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .formSearch {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    width: 55.8%;
    background-color: #fff;
    border-radius: 10px;
    padding: 36px;
    padding-bottom: 39px;
    div {
      width: 100%;
      display: flex;
      .search {
        width: 100%;
        outline: none;
        border: none;
        height: 46px;
        background-color: #F5F5F5;
        border-radius: 4px;
        padding-left: 10px;
        margin-bottom: 32px;
      }
      .button4 {
        cursor: pointer;
        width: 46px;
        height: 46px;
        font-size: 16px;
        text-align: center;
        border-bottom-right-radius: 5px; 
        line-height: 40px;
        background-color: #c72d1b;
        color: #fff;
        border-top-right-radius: 5px;
      }
      .button4:hover{
        border-color: #c72d1b;
      }
      .button5 {
        width: 44px;
        height: 44px;
        background-color: #f5f5f5;
        border-radius: 50%;
        text-align: center;
        font-size: 18px;
        color: #c72d1b;
        line-height: 50px;
      }
      p {
        padding-left: 11px;
        font-size: 18px;
        color: #777c84;
      }
      .select {
        color: #252a32;
        width: 145px;
        div {
          outline: none;
          border: none;
          font-size: 15px;
          font-weight: 500;
          span {
            color: #252a32;
            font-weight: 600;
            font-size: 15px;
            width: 140px;
          }
        }
      }
    }
    .provice {
      align-items: center;
    }
  }
}
.find{
  width: 100%;
  height: 552px;
  position: relative;
}
.background {
  width: 100%;
  height: 100%;
  background-image: url('/images/image 5 (1).png');
  background-repeat: no-repeat;
  background-color: hsl(120, 60%, 70%);
  background-size: cover;
  position: relative;
  .blur{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.85;
  }

}
.invest {
  padding: 0 5.55555556%;
  .quote {
    color: rgba(0, 0, 0, 0.05);
    width: 63px;
    height: 52px;
  }
  h3 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 660;
    margin: 0 32px;
    font-family: 'Inter Tight', sans-serif;
  }
  .col {
    // style={{ padding: '36px 48px', border: '1px solid #C6CEDB', maxWidth: '31.2%' }}
    padding: 36px 48px;
    cursor: pointer;
    border: 1px solid #c6cedb;
    border-radius: 20px;
    background-color: #fff;
    .house {
      width: 60px;
      height: 60px;
      color: #c72d1b;
    }
    .paragrap {
      color: #51565e;
      font-size: 16px;
      font-family: 'Inter Tight', sans-serif;
    }
    h5 {
      font-size: 24px;
      font-weight: 600;
      padding-top: 10px;
      font-family: 'Inter Tight', sans-serif;
    }
  }
  .col:hover {
    box-shadow: 0px 25px 10px rgba(34, 40, 58, 0.01), 0px 14px 8px rgba(34, 40, 58, 0.05),
      0px 6px 6px rgba(34, 40, 58, 0.09), 0px 2px 3px rgba(34, 40, 58, 0.1), 0px 0px 0px rgba(34, 40, 58, 0.1);
  }
}
.industry {
  padding: 0 5.55555556%;
  cursor: pointer;
}
.ad {
  max-width: 100%;
  height: 100%;
}
.knowleage {
  padding: 0 5.55555556% 86px 5.55555556%;
  cursor: pointer;
  .slider{
    position: relative;
  }
  .prev {
    position: absolute;
    left: -22px;
    top: 30%;
    color: #c72d1b;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    border: 1px solid #c7cacd;
    cursor: pointer;
  }
  .next {
    position: absolute;
    right: -19px;
    top: 30%;
    color: #c72d1b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    z-index: 1000;
    border-radius: 50%;
    border: 1px solid #c7cacd;
    cursor: pointer;
  }
}

@media screen and (max-width: 1300px) {
  .invest {
    .col {
      .house {
        width: 50px;
        height: 50px;
        color: #c72d1b;
      }
      .paragrap {
        font-size: 15px;
      }
      h5 {
        font-size: 21px;
      }
    }
  }
}
@media screen and (max-width: 1167px) {
  .invest {
    .col {
      padding: 36px 30px;
    }
  }
}
@media screen and (max-width: 1010px) {
  .invest {
    .col {
      h5 {
        font-size: 19px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .find {
   height: 1094px;
  }
  .provice {
    padding: 10px 0;
  }
  .invest {
    .col {
      margin: 10px 0;
      .house {
        width: 60px;
        height: 60px;
        color: #c72d1b;
      }
      .paragrap {
        font-size: 16px;
      }
      h5 {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
@media screen and (max-width: 890px) {
  .find {
    height: 1080px;
  }
  .invest {
    .quote {
      display: none;
    }
  }
  .banner {
    max-width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .find {
    height: 930px;
  }
  .invest {
    .col {
      .house {
        display: none;
      }
      h5{
        font-size: 29px;
      }
    }
    .quote {
      display: none;
    }
  }
}
@media screen and (max-width: 741px) {
  .invest {
    h3{
      font-size: 29px;
    } 

  }
}
@media screen and (max-width: 708px) {
  .invest {
    .col {
      .house {
        display: none;
      }
    }
    h3 {
      margin: 0 0 10px 0;
      font-size: 26px;
    }

    .quote {
      display: none;
    }
  }
}
@media screen and (max-width: 644px) {
  .find {
    height: 1000px;
  }
}
@media screen and (max-width: 560px) {
  .invest {
    h3 {
      font-size: 23px;
    }
  }
}
