.header{
  text-align: center;
  padding: 28px 5.55555556%;
  align-items: center;
  background: white;
  z-index: 100;
  .hidden{
    img{
      width: 100%;
      height: 100%;
      display: block;
    }
    .menu{
      display: none;
    }
  }
  .button1 {
    background-color: #F59E19;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid #F59E19;
    margin-right: 8px;
    color : white;
    width: 100%;
    cursor: pointer;
    height: 38px;
    outline: none;
  }
  .button1:hover {
   border-color:#F59E19;
   background-color: #fff;
   color: #C72D1B;
  }
  .button2 {
    background-color: #fff;
    border-radius: 3px;
    border:1px solid #cfcece;
    margin-right: 8px;
    color : #000;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    height: 38px;
    outline: none;
  }
  .button3 {
    background-color: #fff;
    border-radius: 3px;
    border:1px solid #fff;
    font-weight: 500;
    cursor: pointer;
    margin-right: 8px;
    color : #000;
    width: 100%;
    height: 38px;
    outline: none;
  }
  .button3:hover {
    color: #C72D1B;
    border-color: #fff;
  }
  .ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    list-style: none;
    a{
      text-decoration: none;
      color: #252A32;
      li{
        font-size: 15px;
      }
    }
  }
  .li{
    padding: 0 20px;
    font-weight: 500;
  }:hover{
    color: #C72D1B;
    transition: all .5s;
  }
}
@media screen and (max-width: 1373px) {
.header{
  .li{
    font-size: 15px;
    cursor: pointer;
  }
}
}
@media screen and (max-width: 1247px) {
  .ul {
    a{
      li{
        padding: 0 15px !important;
      }
    }
  }
  
  }
@media screen and (max-width: 1220px) {
.header{
  display: block;
  .flexMenu{
    justify-content: space-between;
    .maxWidthButton{
      max-width: 100%;
    }
    .button3{
      margin: 0;
    }
  }
  .teXt{
    display: none;

  }
  .hidden{

    .logo{
      display: none;
    }
    .menu{
      display: inline-block;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5;
    }
    .menu:hover{
      background-color: #fff;
      color: #C72D1B;
      border-color: #C72D1B;
    }
    button{
      height: 40px;
      background-color: #C72D1B;
      color: #fff;
      cursor: pointer;
      outline: none;
      border: 1px solid #C72D1B;
    }
  }

}

}
