.box{
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  .absolute{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .heart{
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: flex-end;
      padding: 15px;
      font-size: 20px;
      color: white;
      opacity: 0.8;
    }
    .money{
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px;
      width: 100%;
      color: #fff;
      .price{
        font-weight: 600;
        font-size: 22px;
        .span1{
          font-size: 15px;
        }
        .span2{
          font-size: 15px;
          position: absolute;
          bottom: 6px;
        }
      }
      .watch{
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
.box:hover>img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

