.card{
  img {
    max-width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s;
    height: 100%;
  }
  img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .time {
    color: #777c84;
    span {
      padding-left: 8px;
    }
  }
}
