@import '~nprogress/nprogress.css';
@import 'react-toastify/dist/ReactToastify.css';
@import './theme.less';
@import './layouts/';
@import './pages/';
@import './components/';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.ant-btn{
  border-radius: 0%;
}
*{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
}
.ant-input-group-addon button:hover{
  background-color: #C72D1B !important;
  opacity: .8;
}
.ant-drawer-title{
  display: flex;
  justify-content: center;
}
.ant-card-cover{
  overflow: hidden;
  position: relative;
  height: auto;
  border-radius: 15px;
}
.ant-menu-horizontal{
  border-bottom: none !important;
}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after{
  border-bottom-color: #c72d1b;
}
.ant-card>.ant-card-body{
  padding: 10px 0;
}
// .swiper-slide{
//   width: 400px !important;
// }
// .swiper-container {
//   width: 480px;
// }
.ant-input-affix-wrapper{
  background-color: #000;
  border: 1px solid #51565E;
}
.ant-menu-item-selected{
  color: #C72D1B !important;
}
.ant-menu-item-selected::after{
  border-color: #C72D1B !important;
}
.ant-card-bordered{
  border: none;
}
.ant-input-search .ant-input:hover{
  border-color: #fff;
}
.ant-input-search .ant-input:focus{
  border-color: #fff;
}
.ant-btn-default:not(:disabled):hover{
  border-color: #C72D1B;
  color: #c72d1b;
}
input:focus-visible{
  outline: none;
}
@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
p,h5,h1,h2,h3,h4{
  margin: 0;
}
