.footer{
  padding: 80px 5.55555555556%;
  color: #fff;
  .tutorial{
    a{
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      display: inline-block;
      font-size: 14px;
      padding: 8px 0;
    }
  }
  .search{
    margin-left: 4.16666667%;
    background-color: #000;
    input{
      background-color: #000;
      color: #fff;

    }
    button{
      background: #C72D1B;
      font-size: 16px;
    }
  }
  .social{
    a{
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: #fff;
      text-align: center;
      line-height: 45px;
      margin-right: 6px;
      font-size: 16px;
      color: #000;
    }
  }
}
.footerBottom{
  padding: 10px 5.55555555556% 0 5.55555555556% ;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  .paragraph1{
    display: flex;
    justify-content: flex-end;
    color: #777C84;
  }
}
@media screen and (max-width: 991px) {
  .search{
    margin:  0 !important;
  }
  .address{
    padding-bottom: 30px;
  }
  .footerBottom{
    .paragraph1{
      justify-content: flex-start;
    }
  }
}
@media screen and (max-width: 768px) {
  .search{
    width: 50% !important;
  }
}
