.headLing{
  padding-bottom: 48px;
  padding-top: 80px;
  text-transform: uppercase;
  h3{
    font-family: 'Inter Tight', sans-serif;
    font-size: 32px;
    margin: 0;
  }
  .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .line{
    background-color: #F59E19;
    width: 64px;
    margin-bottom: 12px;
    height: 3px;
    display: inline-block;
  }
  button{
    background-color: #C72D1B;
    width: 140px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
  }
  button:hover{
    background-color: #fff;
    color: #C72D1B !important;
    border-color: #C72D1B !important;
  }
}
@media screen and (max-width: 885px) {
  .headLing{
    h3{
      font-size: 28px;
    }

  }
  }

@media screen and (max-width: 767px) {
  .headLing{
    .button{
      justify-content: flex-start;
      margin-top:15px;
    }

  }
  }
